<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--HomeController: model.addAttribute("pageTitle", "one per day") <--- this is the name (th for thymeleaf)-->
    <title th:text="${pageTitle}">danielKocsis</title>

    <link rel="stylesheet" th:href="@{css/main.css}" href="../static/css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <link href='https://fonts.googleapis.com/css?family=Calibri' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />

    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
</head>
<body>

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">danielkocsis.com</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <p class="navbar-text navbar-right" th:text="#{yourip}">IP address: <a href="#" class="navbar-link">127.0.0.1</a></p>
            </div>
        </div>
    </nav>


    <article th:each="story : ${stories}">
        <header>
            <h1 th:text="${story.title}">This is the title</h1>
            <p th:text="${#dates.format(story.posted,'dd.MM.YYYY HH:mm')}">Posted on September 31, 2018 at 10:00 PM</p>
        </header>

        <!--utext stands for: unescaped text, so <p> wont be there on the page-->
        <section th:utext="${story.content}">
            <p>Lorizzle yippiyo da bomb sit amizzle, consectetuer hizzle ghetto. Nullam fo shizzle my nizzle velit, aliquet volutpat, </p>
            <p> you son of a bizzle quis, gravida vel, cool. Pellentesque pizzle tortizzle. Break it down eros. Phat izzle dolizzle mofo fo shizzle tempizzle shizzle my nizzle crocodizzle.</p>
            <p></p>
        </section>

        <footer>
            <address>
                Written by: <span th:text="${story.blogger.name}">Anonymous</span>
            </address>
        </footer>
        <hr/>
    </article>

    <footer>
        <!--th:text="#{...}" this is responsible for the language view, used with #-->
        <p th:text="#{footerText}">Done by me.</p>
    </footer>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body>
</html>
